.wrap{
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formsection{
  background-color: white;
  border: 1px solid #c6c6c6;
  max-width: 330px;
  min-width: 330px;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: 100px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 230px;
  margin: 0 auto;
}

.headding{
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.facebook{
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  border: 1px solid #0095f6;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 9px;
}

.divider{
  display: grid;
  width: 230px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
  
}